#ship_div {
    display: block;
    position: absolute;
    top: 5vh;
    left: 40vw;
    background-color:rgba(10, 10, 10, 0.8);
    height: 500px;
    width: 500px;
    color: rgba(200, 200, 200, 0.9);
    font-size: 15px;
    border-style: solid;
    border-color: purple;
    
    border-width: 4px;
    border-radius: 0px;
    border-image: url(" ../StyleSheets/borders/ship_class_border.png") 8 repeat;
}
.ship_div_title {
    background-color: rgba(10, 10, 10, 0.95);
    font-size: 12px;
    height: 24px;
}
.ship_title_name{
    font-family: evesans;
    margin: 0px;
    padding: 3px;
    user-select: none;
}
.ship_div_header{
    display: grid;
    grid-template-columns: 86px;
    grid-auto-flow: column;
}
.ship_name{
    float: left;
    font-family: evesans;
    margin: 0px;
    color: rgba(200, 200, 200, 0.9);
    font-size: 16px;
}
#Ship_img{
    background-color: purple;
    height: 80px;
    width: 80px;
}
.ship_div_body{
    display: grid;
    overflow-y: hidden;
    grid-template-rows: 20px;
    align-items: start;
    height: 390px;
    background-color: rgba(15, 15, 15, 0.8);
}
.ship_div_body_nav{
    height: 20px;
    background-color: rgba(12, 12, 12, 0.9);
}
.ship_div_body_content{
    margin: 4px 0px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(30, 30, 30) rgb(15, 15, 15);
    height: 366px;
    background-color: rgba(25, 25, 25, 0.9);
}
.ship_div_content div{
    display: none;
}
#traits {
    display: block;
    padding: 0px;
    margin: 0px 6px;
    color: rgba(200, 200, 200, 0.9);
}
#traits p {
    margin: 6px 0px;
}
.traits_div{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    margin: 0px 0px 0px 20px;
    height: 22px;
}
.traits_div pre{
    font-family: evesans;
    padding: 0px;
    margin: 0px;
}
.traits_icons{
    border-style: solid;
    border-color: rgba(75, 140, 175, 0.2);
    border-width: 1px;
    margin: 0px 4px;
}
.traits_header{
    font-size: 17px;
    color: rgba(75, 140, 175, 1);
}
.traits_percent{
    font-weight: bold;
    color: rgba(195, 230, 255, 1);
}
.traits_text{
    color: rgba(200, 200, 200, 0.6);
}
.traits_item{
    font-weight: bold;
    color: rgba(230, 230, 230, 1);
}
#attributes{
    grid-template-columns: auto auto;
}
#attributes div {
    height: 30px;
}
#AT1, #AT3, #AT5, #AT7, #AT9, #AT11, #AT13 {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 0px;
    margin-right: auto;
}
#AT15{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin-left: 20px;
    margin-right: 20px;
}
.attribute_name{
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 5px;
    padding: 0px;
}
.attribute_structure_resistance{
    background-color: rgba(100, 100, 100, 0.3);
    font-size: 14px;
    margin: 5px;
    padding: 0px;
}
.attribute_name_img{
    width: 22px;
}
#AT2, #AT4, #AT6, #AT8, #AT10, #AT12, #AT14, #AT18, #AT22, #AT24, #AT28, #AT30, #AT33, #AT35, #AT37, #AT39, #AT43, #AT45{
    height: 24px;
    margin-left:auto; 
    margin-right:0;
    float: right;
    font-size: 14px;
    color: rgba(240, 240, 240, 1);
}
.attributes_titles{
    font-family: evesans;
    font-size: 15px;
    font-weight: bold;
    color: rgba(200, 200, 200, 1);
    margin: 7px;
    padding: 0;
    user-select: none;
}
#AT0{
    grid-column: 1 / 3;
    background-color: rgba(32, 32, 32, 0.9);
}
#AT15{
    grid-column: 1 / 3;
}
#AT16{
    grid-column: 1 / 3;
    background-color: rgba(32, 32, 32, 0.9);
}
#AT19{
    grid-column: 1 / 3;
}
#AT20{
    grid-column: 1 / 3;
    background-color: rgba(32, 32, 32, 0.9);
}
#AT25{
    grid-column: 1 / 3;
}
#AT26{
    grid-column: 1 / 3;
    background-color: rgba(32, 32, 32, 0.9);
}
#AT31{
    grid-column: 1 / 3;
    background-color: rgba(32, 32, 32, 0.9);
}
#AT40{
    grid-column: 1 / 3;
}
#AT41{
    grid-column: 1 / 3;
    background-color: rgba(32, 32, 32, 0.9);
}




.active, .btn:hover {
    color: rgba(230, 230, 230, 1);
    background-color: rgba(241, 241, 241, 0.2);
  }
.ship_navbar {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: auto;
}
.ship_navbar li {
    float:left;
    user-select: none;
}
.ship_navbar li p{
    margin: 4px 2px 0px;
    font-size: 12px;
    display: block;
    user-select: none;
    padding: 0px 4px;
    text-decoration: none;
}
.ship_navbar li:hover{
    color: rgba(230, 230, 230, 1);
    background-color: rgba(241, 241, 241, 0.2);
}










#close{
    font-family: evesans;
    float: right;
    user-select: none;
    margin: 0px;
    padding: 2px 4px;
    color: rgba(200, 200, 200, 0.8);
    background-color:rgba(20, 20, 20, 1);
}
#close:hover {
    background-color: rgba(35, 45, 45, 1);
    color: rgba(200, 200, 200, 1);
}